{% extends 'layout.html' %}
{% load static %}
{% block content  %}
        <!-- main-banner-start -->
     <section class="page-header">
            <div class="page-header__bg"></div>
            <!-- /.page-header__bg -->
            <div class="container">
                <ul class="villoz-breadcrumb list-unstyled">
                    <li><a href="client_index/">Home</a></li>
                    <li><span>Gallery</span></li>
                </ul><!-- /.thm-breadcrumb list-unstyled -->
                <h2 class="page-header__title">Gallery</h2>
            </div><!-- /.container -->
        </section><!-- /.page-header -->

        <section class="gallery-one gallery-one--page">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3">
                        <div class="gallery-one__card">
                            <img src="{% static '/assets/img/p2.jpg' %}" alt="">
                            <div class="gallery-one__card__hover">
                                <a href="{% static '/assets/img/p2.jpg' %}" class="img-popup">
                                    <span class="gallery-one__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-one__card__hover -->
                        </div><!-- /.gallery-one__card -->
                    </div><!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="gallery-one__card">
                            <img src="{% static '/assets/img/p1.jpg' %}" alt="">
                            <div class="gallery-one__card__hover">
                                <a href="{% static '/assets/img/p1.jpg' %}" class="img-popup">
                                    <span class="gallery-one__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-one__card__hover -->
                        </div><!-- /.gallery-one__card -->
                    </div><!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="gallery-one__card">
                            <img src="{% static '/assets/img/p3.jpg' %}" alt="">
                            <div class="gallery-one__card__hover">
                                <a href="{% static '/assets/img/p3.jpg' %}" class="img-popup">
                                    <span class="gallery-one__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-one__card__hover -->
                        </div><!-- /.gallery-one__card -->
                    </div><!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="gallery-one__card">
                            <img src="{% static '/assets/img/p4.jpg' %}" alt="">
                            <div class="gallery-one__card__hover">
                                <a href="{% static '/assets/img/p4.jpg' %}" class="img-popup">
                                    <span class="gallery-one__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-one__card__hover -->
                        </div><!-- /.gallery-one__card -->
                    </div><!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="gallery-one__card">
                            <img src="{% static '/assets/img/p3.jpg' %}" alt="">
                            <div class="gallery-one__card__hover">
                                <a href="{% static '/assets/img/p3.jpg' %}" class="img-popup">
                                    <span class="gallery-one__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-one__card__hover -->
                        </div><!-- /.gallery-one__card -->
                    </div><!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="gallery-one__card">
                            <img src="{% static '/assets/img/p11.jpg' %}" alt="">
                            <div class="gallery-one__card__hover">
                                <a href="{% static '/assets/img/p11.jpg' %}" class="img-popup">
                                    <span class="gallery-one__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-one__card__hover -->
                        </div><!-- /.gallery-one__card -->
                    </div><!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="gallery-one__card">
                            <img src="{% static '/assets/img/p8.jpg' %}" alt="">
                            <div class="gallery-one__card__hover">
                                <a href="{% static '/assets/img/p8.jpg' %}" class="img-popup">
                                    <span class="gallery-one__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-one__card__hover -->
                        </div><!-- /.gallery-one__card -->
                    </div><!-- /.col-md-6 col-lg-3 -->
                    <div class="col-md-6 col-lg-3">
                        <div class="gallery-one__card">
                            <img src="{% static '/assets/img/p9.jpg' %}" alt="">
                            <div class="gallery-one__card__hover">
                                <a href="{% static '/assets/img/p9.jpg' %}" class="img-popup">
                                    <span class="gallery-one__card__icon"></span>
                                </a>
                            </div><!-- /.gallery-one__card__hover -->
                        </div><!-- /.gallery-one__card -->
                    </div><!-- /.col-md-6 col-lg-3 -->
                </div><!-- /.gallery-one__carousel -->
            </div><!-- /.container-fluid -->
        </section><!-- /.gallery-one -->



        {%  endblock %}