<!DOCTYPE html>
{% extends 'admin_headerfoter.html' %}
{% load static %}
{% block content %}
<html lang="en">


<div class="main-content">
    <section class="section">
        <div class="section-body">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-6">
                    <div class="card">
                        <div class="card-header">
                            <h4>Input Text</h4>
                        </div>
                        <form action="/insertbooking/" method="post">
                            {% csrf_token %}
                            <div class="card-body">
                                <div class="form-group">

                                    <label>User Id</label>
                                    <input type="text" name="user_id" class="form-control">
                                    <label>PG Room Id</label>
                                    <input type="text" name="pg_room_id" class="form-control">
                                    <label>Status</label>
                                    <input type="text" name="status" class="form-control">
                                    <label>Payment Status</label>
                                    <input type="text" name="payment_status" class="form-control">
                                    <label>Payment Amount</label>
                                    <input type="text" name="payment_amount" class="form-control">
                                </div>
                                <button type="submit">Insert</button>
                        </form>






                    </div>
                </div>

            </div>

        </div>
</div>
</section>

</div>
</body>

</html>
{% endblock %}